<%= form_with model: @event, controller: "events", action: "create", method: "post" do |form| %>
<div class="event-form-container">
  <div class="field event-form">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field event-form">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <!--<div class="field event-form">WHO YOU WAN TO INVITE?<br><br>
    <% User.all.each do |user| %>
      <% unless user == current_user %>
        <%= check_box_tag(:attendee) %>
        <%= label_tag(:attendee, user.username) %>
      <% end %>
    <% end %>
  </div>-->

  <div class="actions event-form">
    <%= form.submit "Create" %>
  </div>
</div>
<% end %>
